.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}
.text-left{
    text-align: left;
}

.container {
    width: 1004px;
    margin: 0 auto;
}
@font-face {
    font-family: 'RobotoR';
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoL';
    font-weight: 300;
    src: url('../assets/fonts/Roboto-Light.ttf');
}
button,
form input[type="button"],
form input[type="submit"] {
    background: #f50;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 6px;
}
button:hover,
input[type="button"]:hover {
    background: #a20d01;
    }
button a,
button a:hover,
button a:active,
button a:visited,
button a:focus {
    color: #fff;
    text-decoration: none;
}

/* ------------------ HEADER */

body > header ul,
body > header ul li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
}

body > header .main-logo {
    color: #000;
    margin: 0;
    padding: 12.5px 0 12.5px 0;
    margin-left: 86px;
    display: inline-block;
}
body > header .primary-menu{
    display: inline-block;
    margin-left: 650;
} 


/* ------------------ FOOTER */

body > footer {
    background: #ccc;
    border-top: 3px solid #808080;
   
}
    body > footer p {
        color: #616161;
        font-size: 13px;
        text-align: center;
        margin: 0;
        padding: 25px 0;
    }

