html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: 'RobotoL';
}
.container {
    width: 1004px;
    margin: 0 auto;
    font-family: 'RobotoR';
}

.primary-menu a,
.primary-menu a:active,
.primary-menu a:visited,
.primary-menu a:focus {
    color: #ff5500;
    text-decoration: none
}
.primary-menu a:hover {
    color: #a20d01;
}

.door{
    margin-left: 20px;
}

section.hero {
    background: url('../assets/images/skg.jpg') no-repeat center center;
    background-size: 100%;
    padding: 103px 0 300px 0;
}

 section.hero form {
        background: #f0e7e7;
        width: 26%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 13px 45px 16px 28px;
        border-radius: 12px;
    }


section.hero form input[type="button"]{
        border: none;
        padding: 12px 15px 12px 15px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        background:  no-repeat left 15px center #f50;
        background-size: 18px;
        margin-top: 10px;
    }


form input[type="text"],
form select {
    border: 1px solid #968a8a;
    border-radius: 4px;
    padding: 10px 5px;
    margin: 5px 0 15px 0;
    width: 150px;
}
form input[type="text"]{
background: #f0e7e7;
}
form select{
  background: #dccfcf;  
}
section.form-right,
aside.form-left{
    display: inline-block;
}

