html,
body {
    margin: 0;
    padding: 0;
    height:100%;
    font-family: 'RobotoL';

}

/* ------------------ HEADER */

body > header .primary-menu img {
            width: 15px;
            height: auto;
        }
.primary-menu a,
.primary-menu a:active,
.primary-menu a:visited,
.primary-menu a:focus {
    color: #413f3e;
    text-decoration: none
}
.primary-menu a:hover {
    color: #a20d01;
}

.door{
    margin-left: 20px;
}
header.header{
	border-bottom: 3px groove #c6baba;
	margin-bottom: 5px;
	padding: 0;
    font-family: 'RobotoR';

}

/* ------------------ HOTEL SEARCH */

aside.hotel-search {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-shadow: 5px 2px 11px 3px rgba(0, 0, 0, .11);
    border-radius: 5px;
    margin-top: 15;

}

aside form input,
aside form select {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 10px 5px;
    margin: 5px 0 15px 0;
    width: 100%;
    background: #efefef;
}

aside form input[type=button]{
	
	 background: #f50;
	 color: #fff;
	 border:none;
}

.sidebar-title h2{
	font-size: 15px;
	font-weight: 600;
	color: #f50;
        font-family: 'RobotoR';

}

/* ------------------ HOTEL LIST */

.page-title {
    background: #ff5500;
    border-radius: 4px;
}
.page-title h2 {
        color: #fff;
        font-weight: 200;
        font-family: 'RobotoR';
        font-size: 19px;
        padding: 5px;
    }

    .box {
    box-sizing: border-box;
}
.clear {
    clear: both;
}

section.hotel-list,
div.hotel-list {
    width: 700px;
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
    margin-top: 6px;
}

 article.hotel .media {
        width: 15%;
        display: inline-block;

    }

article.hotel .info {
    width: 75%;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    margin: 0 0 0 2%;
    border-left: 2px solid #f50;
    display: inline-block;
}

section.hotel-list {
        width: 750px;
    }

section.hotel-list article.hotel {
    
    padding: 0 0 15px 0;
    margin: 0 0 25px 0;
    }
section.hotel-list article.hotel:last-child{
    border-bottom: 1px dashed #c6baba;
}

.info .hotel-title{
	font-size: 16px;
	text-transform: uppercase;
    font-family: 'RobotoR';

 }
 .info .location{
	font-size: 15px;
	text-transform: uppercase;
	color: grey;
 }
.info p{
	font-size: 14px;
}

article .media img{
	height: 15%;
}

.price{
	display: inline-block;
    margin-right: 41px;
    
    background-color: grey;
    margin-top: 31px;
    padding: 5px;
    color: #fff;
    font-size: 14px;	
}

.guests{
	display: inline-block;
	/*background-color: #ded5d5;
	padding: 5px 96px;
	font-size: 14px;*/
    font-size: 12px;

	}

.extra-info{
	display: inline-block;
	background-color: #ded5d5;
	padding: 5px 43px;
}

.minAmount{
    width: 90px;
    float: left;
}
.maxAmount{
    width: 90px;
    margin-left: 29px;
    display: inline-block;
}
.priceSlider{
    margin-bottom: 25px;
}
.slide{
    margin: 5px;

}
.room-type{
    display: inline-block;
    font-size: 12px;


}
.between{
    display: inline-block;
    padding: 0 87px;
    font-size: 16px;

}