/* ------------------ HEADER */

body > header .primary-menu img {
            width: 15px;
            height: auto;
        }
body{
    font-family: 'RobotoL';
}   
}
.primary-menu a,
.primary-menu a:active,
.primary-menu a:visited,
.primary-menu a:focus {
    color: #413f3e;
    text-decoration: none
}
.primary-menu a:hover {
    color: #a20d01;
}
.primary-menu a.prof,
.primary-menu a.prof:active,
.primary-menu a.prof:visited,
.primary-menu a.prof:focus {
    color: #ff5500;
    text-decoration: none
}
.primary-menu a.prof:hover {
    color: #a20d01;
}

.door{
    margin-left: 20px;
}
header.header{
	border-bottom: 3px groove #c6baba;
	margin-bottom: 5px;
	padding: 0;
    font-family: 'RobotoR';

}



aside.side-box {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-shadow: 5px 2px 11px 3px rgba(0, 0, 0, .11);
    border-radius: 5px;
    margin-top: 15;
}

.sidebar-title h2{
	font-size: 21px;
	font-weight: 600;
	color: #f50;
}

.page-title {
    background: #ff5500;
    border-radius: 3px;
    
   
}
.page-title h2 {
        color: #fff;
        font-weight: 300;
        font-size: 19px;
        padding: 5px;
        font-family: 'RobotoR';
    }
 .sidebar-title h4{
 		color: #ff5500;
        font-weight: 600;
        font-family: 'RobotoR';
 }

.box {
box-sizing: border-box;
}
.clear {
    clear: both;
}


section.booking-list {
    width: 750px;
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
    margin-top: 15px;
}

article.hotel .media {
        width: 15%;
        display: inline-block;

}
article.hotel .info {
    width: 75%;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    margin: 0 0 0 2%;
    border-left: 2px solid #f50;
    display: inline-block;
}

section.booking-list article.hotel {
    
    padding: 0 0 15px 0;
    margin: 0 0 25px 0;
    }

    section.booking-list {
        width: 750px;
    }
 section.booking-list article.hotel:last-child{
    border-bottom: 1px dashed #c6baba;
}

.info .hotel-title{
	font-size: 16px;
	text-transform: uppercase;
    font-family: 'RobotoR';
 }
 .info .location{
	font-size: 15px;
	text-transform: uppercase;
	color: grey;
 }
.info p{
	font-size: 14px;
}

article .media img{
	height: 15%;
}
.favorites ol,
.favorites li,
.reviews ol,
.reviews li{
	margin:10px;
	padding: 0px;
	
}

.total-price{
	display: inline-block;
    margin-right: 41px;
    
    background-color: grey;
    margin-top: 31px;
    padding: 5px;
    color: #fff;
    font-size: 12px;	

}
.room-type{
	display: inline-block;
	/*background-color: #ded5d5;
	font-size: 14px;
	padding: 5px 0px;*/
}
.inDate{
	display: inline-block;
	/*background-color: #ded5d5;
	font-size: 14px;
	padding: 5px 0px;*/
}

.outDate{
	display: inline-block;
	/*background-color: #ded5d5;
	font-size: 14px;
	padding: 5px 0px;*/
}
.extra-info{
	display: inline-block;
	background-color: #ded5d5;
	font-size: 12px;
	padding: 5px 50px;
	
}
.checked{
    color: #fab00a;
}
a{
    text-decoration: none;
}
.between1 {
    display: inline-block;
    padding: 0 2px;

}

