html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}
header.header{
    border-bottom: 3px groove #c6baba;
    margin-bottom: 100px;
    padding: 0;

}
h1.sign{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: 'RobotoL';
}
.primary-menu a,
.primary-menu a:active,
.primary-menu a:visited,
.primary-menu a:focus {
    color: #ff5500;
    text-decoration: none
}
.primary-menu a:hover {
    color: #a20d01;
}

 section.hero form {
        background: #f0e7e7;
        width: 25%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 13px 45px 16px 28px;
        border-radius: 12px;
    }

    /*section.hero form input[type="submit"]{
        border: none;
        padding: 12px 15px 12px 15px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        background:  no-repeat left 15px center blue;
        background-size: 18px;
        margin-top: 10px;
    }*/
.hero button{
    border: none;
        padding: 12px 15px 12px 15px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        background:  no-repeat left 15px center #f50;
        background-size: 18px;
        margin-top: 10px;
        margin-left: 130px;
}

form input[type="input"],
form input[type="password"]
{
    border: 1px solid #968a8a;
    border-radius: 4px;
    padding: 10px 5px;
    margin: 5px 0 15px 0;
    width: 150px;
    /*background: #efefef;*/
}
form input[type="password"]
{
    margin-left: 36px;
}
form input.name-input
{
    margin-left: 68px;
}
.form-group label{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    font-family: 'RobotoL';
}

.text-danger{
   font-size: 15px;
    font-weight: 300;
    color: #000;
    font-family: 'RobotoL'; 
}
